<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4">Список пользователей</h2>
      <ul class="list-group">
        <li
          (click)="toStranger(user.id || 0)"
          *ngFor="let user of users"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ user.username }}
          <span class="badge bg-primary rounded-pill">{{ user.id }}</span>
        </li>
        <li *ngIf="isEmpty" class="list-group">
            Тут никого нет
        </li>
      </ul>
    </div>
  </div>
</div>
