<div class="card border-2" style="width: 18rem">
  <div class="card-body overflow-auto">
    <h5 class="card-title fs-6 text-nowrap  fw-bold mb-1">{{ task.name }}&emsp;
      <button (click)="onDelete()" class="fa-solid fa-trash bg-transparent border-0"></button>
      <button (click)="editTask(task.projectId || 0, task.id ||0)" class="fa-solid fa-pen bg-transparent border-0"></button>&emsp;
      <button (click)="toComments()" class="fa-solid fa-message bg-transparent border-0"></button>
    </h5>
    <div *ngIf="task.completed else notCompleted">
      <p class="card-subtitle fs-6 text-success mb-1">Завершена</p>
    </div>

    <p class="card-text fs-6 text-body-emphasis mb-1">{{ task.description}}</p>
  </div>
</div>

<ng-template #notCompleted>
    <p class="card-subtitle fs-6 text-danger-emphasis mb-1">Не завершена</p>
</ng-template>
