<div class="d-flex gap-4 p-2">
  <h3 class="d-flex">Список проектов</h3>
  <form [formGroup]="form" class="d-flex gap-2 align-items-center" role="search">
    <input class="form-control" type="text" placeholder="Найти проект" aria-label="Search"
           formControlName="inputField" (input)="updateSearch()">
    <button class=" btn btn-outline-success" (click)="updateSearch()"><i class="fas fa-search"></i></button>
  </form>
  <button (click)="newProject()" type="button" class="btn btn-dark">
    <em class="fa-solid fa-plus">&nbsp;Новый проект</em>
  </button>
  <div class="ms-auto">
    <button (click)="goToProfile()" type="button" class="btn btn-outline-dark">
      <em class="fa-solid fa-person"></em>
    </button>
  </div>
</div>

<hr>

<div class="d-flex justify-content-start gap-2 flex-wrap">
  <app-project-card [project]="project.project" [countIncompleteTasks]="project.unfinishedTasksCount"
                    *ngFor="let project of projectsWithTaskCounts"></app-project-card>
</div>
